@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


.body, .menu{
    font-family: 'Irish Grover' !important;
}
#welcome{
    font-family: 'Irish Grover' !important;
}

.body{
    font-family: 'Irish Grover' !important;

}
.menu{
    color: #800080 !important;
    font-size: larger;
}

.dashboard-body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}
.left-menu{
    flex: 1;
    background-color: #800080 !important;
    height: auto;
    margin: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.right-menu{
    flex: 2;
    height: auto;
    background-color: #800080 !important;
    margin: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.middle-menu{
    flex: 3;
    height: auto;
    background-color: #800080 !important;
    margin: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.home-wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    position: relative;
    align-items: center;
    color: #800080;
}

.home-content{
    margin: 0;
    padding: 10vh;
    height: 70vh;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%)
}

.home-head{
    font-size: x-large;
    font-weight: bolder;
    height: auto;
    flex: 1;
    text-align: center;
    font-family: 'Irish Grover';
}

.home-head-name{
    flex: 1;
    text-align: center;
    font-family: 'Irish Grover';
    font-size: xx-large;
}

.home-body{
    flex: 1;
    text-align: center;
    font-family: 'Irish Grover';
}




.login-wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    justify-content: center;
    position: relative;
    align-items: center;

}

.login-content{
    margin: 0;
    padding: 10vh;
    height: auto;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);

}

.form{
    color: #800080 !important;
    font-family: 'Irish Grover';
}

.back-arrow-wrapper{
    font-size: large;
    font-weight: bold;
    height: auto;
    flex: 1;
    text-align: left;
    font-family: 'Irish Grover';
}

.login-text{
    font-size: xx-large;
    font-weight: bolder;
    flex: 2;
    text-align: right;
    color: blue;
    font-family: 'Irish Grover';
    border-left: 4px solid #800080;
    padding-left: 5px;
}


.image-wrapper{
    border-radius: 70%;
    position: static;
    height: 150px;
    width: 150px;
    z-index: 9999;
    top: 10vh;
    right: 8vw;
    margin: auto;
    background-image: url('assets/images/image.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
}

.image{
    position:relative;
    top: 80%;
    bottom: 0px;
    right: -65%;
    width: 50%;
    border-radius: 50%;
    color:"#800080"
}

.head, .body{
    width: 50%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-family: 'Irish Gover';
    margin: auto;
    position: relative;
    padding: 2%;
}

.head{
    flex: 2;
}
.body{
    flex: 1;
    color: #f5f5f5;
}

.names{
    font-family: 'Irish Grover' !important;
    padding: 2%;
    font-size: small;
    color: #800080;
    text-transform: capitalize !important;
}

@media screen and (max-width: 600px){

    .login-content{
        margin: 0;
        padding: 8vh;
        height: 90vh;
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -50%);

    }
    .back-arrow-wrapper{
        padding-top: 10px;
    }

    .dashboard-body{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .names{
        font-family: 'Irish Gover' !important;
        padding: 2%;
        font-size: medium;
        text-transform:uppercase;
    }
    .left-menu{
        flex: 1;
        background-color: #800080 !important;
        height: auto;
        margin: 2%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .right-menu{
        flex: 2;
        height: auto;
        background-color: #800080 !important;
        margin: 2%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .middle-menu{
        flex: 3;
        height: auto;
        background-color: #800080 !important;
        margin: 2%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }


}